<!--
This template creates a UI for requesting users to verify their emails.
REQUIRED PARAMETERS:
    reset_link - the reset link for the user's password
!-->
{% extends 'base.html' %}
{% block content %}

    <div>
        <p>Hello, </p>
        <p> Welcome to Authors Haven.</p>
        <p>
            Please click the link below to reset your password
        </p>
        <br/>
        <a href ="{{ reset_link }}">RESET YOUR PASSWORD</a>
        <br/>
        <br/>
        <p>Regards,</p>
        <p>Fulldeck Team &copy; 2019</p>
    </div>

{% endblock %}
